@{
	ViewData["Title"] = "Home of the Hive Mind";
}

<!-- impliciet staat hier section body {} -->

<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-3">
			<p>A little paragraph goes a long way...</p>
		</div>
		<div class="col-md-6 col-sm-9">
			<p>A second paragraph just makes my day!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-3">
			<p>Testing this</p>
		</div>
		<div class="col-md-6 col-sm-9">
			<p>Testing this too</p>
		</div>
	</div>
</div>